@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1f2a37;
  --color-secondary: #2e3742;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #5a626b;
  --color-darkBlue: #1b2559;
  --color-danger: #fc8888;
  --color-purple: #44266c;
  --color-success: #2ed352;
  --color-blue: #477bff;
  --color-lightGray: #e0e5f2;
  --color-error: #a60000;
  --color-muted: #a3aed0;
  --color-darkGray: #111928;
  --color-gray-500: #6b7280;
  --color-gray-background: #f2f2f2;

  --text-10px: 0.625rem;
  --text-11px: 0.6875rem;
  --text-12px: 0.75rem;
  --text-13px: 0.8125rem;
  --text-14px: 0.875rem;
  --text-15px: 0.9375rem;
  --text-16px: 1rem;
  --text-17px: 1.0625rem;
  --text-18px: 1.125rem;
  --text-19px: 1.1875rem;
  --text-20px: 1.25rem;
  --text-21px: 1.3125rem;
  --text-22px: 1.375rem;
  --text-23px: 1.4375rem;
  --text-24px: 1.5rem;
  --text-32px: 2rem;
  --text-34px: 2.125rem;
  --text-40px: 2.5rem;
  --text-48px: 3rem;
  --text-56px: 3.5rem;
  --text-64px: 4rem;

  --font-montserrat: "Montserrat", sans-serif, ui-sans-serif, system-ui;
}

* {
  font-family: var(--font-montserrat) !important;
}
