@import "tailwindcss";
@theme {
  --color-primary: #1f2a37;
  --color-secondary: #2e3742;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #5a626b;
  --color-darkBlue: #1b2559;
  --color-danger: #fc8888;
  --color-purple: #44266c;
  --color-success: #2ed352;
  --color-blue: #477bff;
  --color-lightGray: #e0e5f2;
  --color-error: #a60000;
  --color-muted: #a3aed0;
  --color-darkGray: #111928;
}
